@import 'bulma/sass/utilities/initial-variables';

$main-red: #A23640;
$main-gray: #1F262B;
$main-pink: #FBCCC7;
$white: #FFFFFF;

$title-color: $white;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

.header{
    background-color: $main-red !important;
    color: $main-pink !important;
    border: 0px !important;
}

.main {
    background-color: $main-gray;
    color: $white;
}

.padding--top25 {
    padding: 25px !important;
}

.padding--top100 {
    padding-top: 100px !important;
}

.text-center {
    text-align: center !important;
}

.movie-cell {
    @media only screen and (max-width: 768px) {
        text-align: center;
    }
}

.bold {
    font-weight: bold !important;
}

@import 'bulma/bulma';